<!--Copyright (c) 2018 Great Ormond Street Hospital for Children NHS Foundation
Trust & Birmingham Women's and Children's NHS Foundation Trust

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
{% extends 'gel2clin/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
    {% load gel2mdt_extras %}

{% block javascript %}
  <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}


        <div class="container-fluid" >
            {% if config_dict|get_item:'cip_as_id' == 'True' %}
            <h1>{{report.ir_family.ir_family_id}}</h1>
            {% else %}
            <h1>{{report.ir_family.participant_family.proband.gel_id}}</h1>
            {% endif %}
                <div class="row">

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Participant Information</div>
                            <div class="panel-body">

                                <div class="col-md-3">
                                    {% bootstrap_label "GEL ID" %}
                                    <div class="block">
                                        {{report.ir_family.participant_family.proband.gel_id}}
                                    </div>
                                    </br>
                                    {% bootstrap_label "NHS Number" %}
                                    <div class="block">
                                        {{report.ir_family.participant_family.proband.nhs_number}}
                                    </div>
                                    </br>
                                    {% bootstrap_label "Date of Birth" %}
                                    <div class="block">
                                        {{report.ir_family.participant_family.proband.date_of_birth|date}}
                                    </div>
                                    </br>
                                    {% bootstrap_label "GEL Sample ID" %}
                                    <div class="block">
                                        {{report.sample_id}}
                                    </div>
                                    </br>
                                    {% bootstrap_label "Pilot Case" %}
                                    <div class="block">
                                        {{report.pilot_case}}
                                    </div>
                                    </br>
                                </div>
                                <div class="col-md-3">
                                    {% bootstrap_label "Forename" %}
                                    <div class="block">
                                        {{report.ir_family.participant_family.proband.forename}}
                                    </div>
                                    </br>
                                    {% bootstrap_label "Sex" %}
                                    <div class="block">
                                        {{report.ir_family.participant_family.proband.sex}}
                                    </div>
                                </br>
                                {% bootstrap_label "Panels" %}
                                <div class="block">

                                    {% for panel in panels %}
                                        <p>
                                    <a href="/panel/{{panel.panel.id}}">
                                    {{panel.panel}}
                                    </a>
                                    </p>
                                    {% endfor %}

                                </div>
                                </br>
                                    {% bootstrap_label "Case Sent" %}
                                    <div class="block">
                                        {{report.case_sent}}
                                    </div>
                                    </br>

                                </div>


                                <div class="col-md-3">

                                    {% bootstrap_label "Surname" %}
                                    <div class="block">
                                        {{report.ir_family.participant_family.proband.surname}}
                                    </div>

                                    </br>
                                    {% bootstrap_label "Lab Number" %}
                                    <div class="block">
                                         {% if report.ir_family.participant_family.proband.lab_number %}
                                            {{ report.ir_family.participant_family.proband.lab_number }}
                                        {% else %}
                                            <p style="color:gray">unknown</p>
                                        {% endif %}
                                    </div>
                                    </br>
                                    {% bootstrap_label "Clinician" %}
                                    <div class="block">
                                        {{report.ir_family.participant_family.clinician}}
                                    </div>
                                    </br>
                                    {% bootstrap_label "Status" %}
                                    <div class="block">
                                        {{report.get_case_status_display}}
                                    </div>
                                    </br>

                                </div>
                                <div class="col-md-3">
                                    {% bootstrap_label "CIP ID" %}
                                    <div class="block">
                                        <a href="https://cipapi.genomicsengland.nhs.uk/interpretationportal/#/participant/{{report.ir_family.ir_family_id}}" target="_blank"><i class="fas fa-external-link-alt"></i> {{report.ir_family.ir_family_id}}</a>
                                    </div>
                                    </br>
                                    {% bootstrap_label "CGU Number" %}
                                    <div class="block">
                                        {% if report.ir_family.participant_family.proband.local_id %}
                                            {{ report.ir_family.participant_family.proband.local_id }}
                                        {% else %}
                                            <p style="color:gray">unknown</p>
                                        {% endif %}
                                    </div>
                                    </br>
                                    {% bootstrap_label "GMC" %}
                                    <div class="block">
                                        {{report.ir_family.participant_family.proband.gmc}}
                                    </div>
                                    </br>
                                    {% bootstrap_label "MDT Status" %}
                                    <div class="block">
                                        {{report.get_mdt_status_display}}
                                    </div>
                                    </br>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            {% if proband_mdt %}
                <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">MDT History</div>
                        <div class="panel-body">
                            <div class="col-md-15">
                                <table width="100%" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>MDT Name</th>
                                            <th>MDT Date</th>
                                            <th>Status</th>
                                            <th>Creator</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for mdt in proband_mdt %}
                                        <tr>
                                        <td><a href="/mdt_view/{{ mdt.MDT.id }}">{{ mdt.MDT.id }}</a></td>
                                        <td>{{mdt.MDT.date_of_mdt|date}}</td>
                                            <td>{{mdt.MDT.get_status_display}}</td>
                                        <td>{{mdt.MDT.creator}}</td>

                                    </tr>
                                {% endfor %}


                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

            {% if relatives %}
                <div class=row>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Relatives</div>
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="relative-table">
                                <thead>
                                    <tr>
                                        <th>Relationship</th>
                                        <th>Forename</th>
                                        <th>Surname</th>
                                        <th>DOB</th>
                                        <th>NHS number</th>
                                        <th>ID</th>
                                        <th>Affection_status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for relative in relatives %}
                                    <tr>

                                    <td>{{relative.relation_to_proband}}</td>
                                    <td>{{relative.forename}}</td>
                                    <td>{{relative.surname}}</td>
                                    <td>{{relative.date_of_birth|date}}</td>
                                    <td>{{relative.nhs_number}}</td>
                                    <td>{{relative.gel_id}}</td>
                                    <td>{{relative.affected_status}}</td>
                                </tr>
                            {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>


{% endblock %}
