<!--Copyright (c) 2018 Great Ormond Street Hospital for Children NHS Foundation
Trust & Birmingham Women's and Children's NHS Foundation Trust

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
{% extends 'gel2mdt/base.html' %}
{% load bootstrap3 %}
{% load static %}


{% block tabs %}

    <ul class="nav navbar-nav">
                   {% if sample_type == 'cancer' %}
                            <li><a href="{% url 'cancer-main' %}"><i class="fas fa-home"></i></span> Cases</a></li>
                            </ul>
                        {% elif sample_type == 'raredisease' %}
                            <li><a href="{% url 'rare-disease-main' %}"><i class="fas fa-home"></i></span> Cases</a></li>
                            </ul>
                        {% endif %}

                   <ul class="nav navbar-nav">
                       <li><a href="{% url 'start-mdt' sample_type=sample_type %}" ><i class="fas fa-comments"></i> Start MDT</a></li>
                        </ul>
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'recent-mdt' sample_type=sample_type %}" ><i class="fas fa-history"></i> Recent MDTs</a></li>
                        </ul>
                   <ul class="nav navbar-nav">
                        <li><a href="{% url 'audit' sample_type=sample_type %}" ><i class="fas fa-tachometer-alt"></i> Audit</a></li>
                        </ul>
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'validation-list' sample_type=sample_type %}" ><i class="fas fa-check-circle"></i> Validation</a></li>
                        </ul>
{% endblock %}



{% block content %}
    {% load gel2mdt_extras %}
 <div  class="container-fluid"  >
 
 <form action="{% url 'gene_search' sample_type=sample_type %}" method="post">
 {% csrf_token %}
{% bootstrap_form gene_search_form %}
  <button type="submit" class="btn btn-primary">Submit</button>
 </form>

 <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% if gene %}
                Variants in {{ gene }}
                {% endif %}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-validationlist">

                    <thead style='font-size: 75%'>
                        <tr>
                            <th>Variant Link</th>
                            <th>Gene</th>
                            <th>CIP Link</th>
                            <th>GeL ID</th>
                            <th>Forename</th>
                            <th>Surname</th>
                            <th>GMC</th>
                            <th>Clinician</th>
                            <th>Zygosity</th>
                            <th>Recruiting Disease</th>
                            <th>HGVSc</th>
                            <th>HGVSp</th>
                            <th>HGVSg</th>
                        </tr>
                    </thead>
                    <tbody style='font-size: 75%'>
                        {% for pv in proband_variants %}
                                <tr>
                                    <td>
                                        <a href="/variant/{{pv.variant.id }}">
                                            <i class="fas fa-external-link-alt fa-2x"></i>
                                        </a>
                                    </td>
                                    <td>{{pv.get_transcript_variant.transcript.gene}}</td>
                                    <td>
                                            <a href="/proband/{{pv.interpretation_report.id }}">
                                                {{pv.interpretation_report.ir_family.ir_family_id}}
                                            </a>
                                    </td>
                                    <td>{{pv.interpretation_report.ir_family.participant_family.proband.gel_id}}</td>
                                    <td>{{pv.interpretation_report.ir_family.participant_family.proband.forename}}</td>
                                    <td>{{pv.interpretation_report.ir_family.participant_family.proband.surname}}</td>
                                    <td>{{pv.interpretation_report.ir_family.participant_family.proband.gmc}}</td>
                                    <td>{{pv.interpretation_report.ir_family.participant_family.clinician.name}}</td>
                                    <td>{{pv.zygosity}}</td>
                                    <td>{{pv.interpretation_report.ir_family.participant_family.proband.recruiting_disease}}</td>
                                    <td style="word-wrap: break-word; min-width: 200px;max-width: 200px;">{{pv.get_transcript_variant.hgvs_c}}</td>
                                    <td style="word-wrap: break-word; min-width: 200px;max-width: 200px;">{{pv.get_transcript_variant.hgvs_p}}</td>
                                    <td style="word-wrap: break-word; min-width: 200px;max-width: 200px;">{{pv.get_transcript_variant.hgvs_g}}</td>
                                   </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
 </div>
{% endblock %}
