<!--Copyright (c) 2018 Great Ormond Street Hospital for Children NHS Foundation
Trust & Birmingham Women's and Children's NHS Foundation Trust

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
{% extends 'gel2mdt/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
{% block javascript %}
  <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}


<div class="container-fluid" >

    <div align="center">

<a class="btn btn-link btn-lg" href="/mdt_view/{{mdt_id}}">
   Return to MDT
</a>
    </div>
</br>
    <form role="form" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
          {{ variant_formset.management_form }}


            <div class="row">

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Participant Information</div>
                        <div class="panel-body">

                            <div class="col-md-4">
                                {% bootstrap_label "CIP ID" %}
                                <div class="block">
                                    <a class=" btn-link" href="/proband/{{report.id}}">
                                    {{report.ir_family.ir_family_id}}</a>
                                </div>
                                </br>
                                {% bootstrap_label "DOB" %}
                                <div class="block">
                                    {{report.ir_family.participant_family.proband.date_of_birth}}
                                </div>

                            </div>

                            <div class="col-md-4">
                                {% bootstrap_label "Forename" %}
                                <div class="block">
                                    {{report.ir_family.participant_family.proband.forename}}
                                </div>
                                </br>
                                {% bootstrap_label "Surname" %}
                                <div class="block">
                                    {{report.ir_family.participant_family.proband.surname}}
                                </div>

                            </div>


                            <div class="col-md-4">
                                {% bootstrap_label "NHS Number" %}
                                <div class="block">
                                    {{report.ir_family.participant_family.proband.nhs_number}}
                                </div>
                                </br>
                                {% bootstrap_label "Panels" %}
                                <div class="block">
                                     {% for panel in panels %}

                                        <p>
                                    <a href="/panel/{{panel.panel.id}}">
                                    {{panel.panel}}
                                    </a>
                                    </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Patient Discussion/Action</div>
                        <div class="panel-body">
                             <div class="table-responsive">
                                <table width="100%" class="table table-striped table-bordered table-hover">
                                    <tbody style='font-size: 75%'>
                                        <tr>
                                            <td> {% bootstrap_field proband_form.discussion %} </td>
                                            <td> {% bootstrap_field proband_form.action %} </td>
                                            <td> {% bootstrap_field gelir_form.case_status %} </td>
                                        </tr>
                                    </tbody>
                                </table>


                        </div>
                    </div>
                    </div>
            </div>
            </div>
    <div class="row">
        <div class="col-md-12">

    <div class="table-responsive">
        <table width="100%" class="table table-striped table-bordered table-hover"  >
            {% if sample_type == 'raredisease' %}
            <thead style='font-size: 70%' align="center">
                <tr>
                    <th>Variant ID</th>
                    <th>Tier</th>
                    <th>Flag</th>
                    <th>Gene</th>
                    <th>HGVSc</th>
                    <th>HGVSp</th>
                    <th>Genotype</th>
                    <th>Validation Required?</th>
                    <th>Classification</th>
                    <th>Contribution to Phenotype</th>
                    <th>Discussion</th>
                    <th>Action</th>
                    <th>Change Med</th>
                    <th>Surgical Option</th>
                    <th>Add Surveillance for Relatives</th>
                    <th>Clinical Trial</th>
                    <th>Inform Reproductive Choice</th>
                </tr>
            </thead>
                                        <tbody style='font-size: 75%' >
                                            {% for form in variant_formset.forms %}
                                            {{ form.id }}

                                                <tr>
                                                    <td  ><a href="/variant/{{form.instance.proband_variant.variant.id}}">{{form.instance.proband_variant.variant.id}}</a></td>
                                                    <td>{{form.instance.proband_variant.max_tier}}</td>
                                                    <td style="word-wrap: break-word; min-width: 75px;max-width: 75px;">{% for flag in form.instance.proband_variant.pvflag_set.all %}
                                                        {{flag}};
                                                    {% endfor %}
                                                    </td>
                                                    <td >{{form.instance.proband_variant.get_transcript.gene}}</td>
                                                    <td  style="word-wrap: break-word; min-width: 150px;max-width: 150px;">{{form.instance.proband_variant.get_transcript_variant.hgvs_c}}</td>
                                                    <td style="word-wrap: break-word; min-width: 150px;max-width: 150px;">{{form.instance.proband_variant.get_transcript_variant.hgvs_p}}</td>
                                                    <td>{{form.instance.proband_variant.zygosity}}</td>
                                                    <td>{{ form.requires_validation }}</td>
                                                    <td>{{ form.classification }}</td>
                                                    <td> {{ form.contribution_to_phenotype }}</td>
                                                    <td>{{ form.discussion }}</td>
                                                    <td> {{ form.action }}</td>
                                                    <td style="word-wrap: break-word; min-width: 10px;max-width: 10px;">{{ form.change_med }}
                                                    </td>
                                                    <td>{{form.surgical_option   }}
                                                    </td>
                                                    <td>{{  form.add_surveillance_for_relatives  }}
                                                    </td>
                                                    <td>{{ form.clinical_trial  }}
                                                    </td>
                                                    <td>{{ form.inform_reproductive_choice  }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
            {% elif sample_type == 'cancer' %}
            <thead style='font-size: 70%' align="center">
                <tr>
                    <th>Variant ID</th>
                    <th>Tier</th>
                    <th>Gene</th>
                    <th>HGVSc</th>
                    <th>HGVSp</th>
                    <th>Genotype</th>
                    <th>Classification</th>
                    <th>Variant Use</th>
                    <th>Action Type</th>
                    <th>Validated?</th>
                    <th>Validated Assay Type</th>
                    <th>Requires Validation?</th>
                </tr>
            </thead>
                                        <tbody style='font-size: 75%' >
                                            {% for form in variant_formset.forms %}
                                            {{ form.id }}

                                                <tr>
                                                    <td  ><a href="/variant/{{form.instance.proband_variant.variant.id}}">{{form.instance.proband_variant.variant.id}}</a></td>
                                                    <td>{{form.instance.proband_variant.max_tier}}</td>
                                                    <td >{{form.instance.proband_variant.get_transcript.gene}}</td>
                                                    <td  style="word-wrap: break-word; min-width: 150px;max-width: 150px;">{{form.instance.proband_variant.get_transcript_variant.hgvs_c}}</td>
                                                    <td style="word-wrap: break-word; min-width: 150px;max-width: 150px;">{{form.instance.proband_variant.get_transcript_variant.hgvs_p}}</td>
                                                    <td>{{form.instance.proband_variant.zygosity}}</td>
                                                    <td>{{ form.classification }}</td>
                                                    <td> {{ form.variant_use }}</td>
                                                    <td>{{ form.action_type }}
                                                    </td>
                                                    <td>{{form.validated }}
                                                    </td>
                                                    <td>{{  form.validated_assay_type  }}
                                                    <td>{{ form.requires_validation }}</td>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
            {% endif %}

                                    </table>
                                </div>

</div>
    </div>
    <div class="row" align="right">
         <div class="col-md-12">
             {% if mdt_instance.status != "C" %}
        <button type="submit" name="mdt_proband_update" class="btn btn-danger btn-lg">Save</button>
             {% endif %}
         </div>
</div>
    </form>
</div>
    {% endblock %}
