<!--Copyright (c) 2018 Great Ormond Street Hospital for Children NHS Foundation
Trust & Birmingham Women's and Children's NHS Foundation Trust

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
{% extends 'gel2mdt/base.html' %}
{% load bootstrap3 %}
{% load static %}


{% block content %}
{% load gel2mdt_extras %}

{% block javascript %}
  <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}


<div style="text-align:center">
    {% if mdt_form.status.value != "C" %}
    <form action="/{{sample_type}}/edit_mdt/{{ mdt_id }}" role="form">
        {% csrf_token %} {% bootstrap_button "Edit Samples in MDT" button_type="submit" button_class=" btn-warning" %}
    </form>
    <form action="/delete_mdt/{{ mdt_id }}" role="form" method="post" onclick="return confirm('Are you sure?')">
        {% csrf_token %} {% bootstrap_button "Delete MDT" button_type="submit" button_class="btn-danger" %}
    </form>
    <form action="/export_mdt/{{ mdt_id }}" role="form" method="post">
        {% csrf_token %} {% bootstrap_button "Export MDT" button_type="submit" button_class="btn-info" %}
    </form>
    <form action="/select_attendees_for_mdt/{{ mdt_id }}" role="form">
        {% csrf_token %} {% bootstrap_button "Add Attendees" button_type="submit" button_class="btn-primary" %}
    </form>
    {% else %}
    <form action="/export_mdt/{{ mdt_id }}" role="form" method="post">
        {% csrf_token %} {% bootstrap_button "Export MDT" button_type="submit" button_class="btn-info" %}
    </form>
    {% endif %}
</div>

<br>
<div  class="container-fluid">


    <div class=row>
        <div class="col-md-12">

                    <div id="proband" class="tab-pane fade in active">
                        <div class="panel panel-default" >
                            <div class="panel-heading">Proband</div>
                            <div class="panel-body">

                                <div class="table-responsive" >
                                    <table width="100%" class="table table-striped table-bordered table-hover"  id="mdt-proband-table">
                                        <thead>
                                            <tr>
                                                <th>GEL ID</th>
                                                <th>CIP ID</th>
                                                <th>Forename</th>
                                                <th>Surname</th>
                                                <th>GMC</th>
                                                <th>Clinician</th>
                                                <th>Discussion</th>
                                                <th>Action</th>
                                                <th>Edit Discussion/Action</th>
                                                <th>Edit Important Variants</th>
                                                <th>Edit T3 Variants</th>
                                                <th>MDT Outcome Form</tH>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% include 'gel2mdt/includes/mdt_proband_table.html' %}
                                        </tbody>
                                    </table>
                                </div>

                        </div>
                            <div class="modal fade" id="modal-proband-mdt">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                      </div>
                                    </div>
                                </div>
                    </div>
                    </div>
                </div>
    </div>


    <form role="form" method="post" enctype="multipart/form-data">
     {% csrf_token %}
         <div class=row style="text-align:center">
        <div class="col-md-10" style="text-align:center" >

            <div class="panel panel-default">
                <div class="panel-heading">MDT Information</div>
                <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        {% bootstrap_field mdt_form.description %}
                    </div>
                    <div class="col-md-2">
                        {% bootstrap_field mdt_form.date_of_mdt %}
                    </div>
                    <div class="col-md-2">
                        {% bootstrap_field mdt_form.status %}
                    </div>
                    <div class="col-md-2">
                        <h5>Current Attendees</h5>
                        {% for attendee in attendees %}
                            {{attendee}}
                        {% endfor %}
                    </div>
                    </div>
                    {% if mdt_form.status.value != "C" %}
                    <div class="row" >
                        <div class="col-md-1">
                        <button type="submit" name="mdt_update" class="btn btn-default">Save</button>
                        </div>
                    </div>
                    {% endif %}
                </div>

        </div>
        </div>
        </div>
    </form>
</div>
{% endblock %}
