<!--Copyright (c) 2018 Great Ormond Street Hospital for Children NHS Foundation
Trust & Birmingham Women's and Children's NHS Foundation Trust

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
{% extends 'gel2mdt/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load gel2mdt_extras %}


{% block content %}
<div  class="container-fluid">
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Rare Disease Cases
           </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="panel-group">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 name="filter-spec" class="panel-title">
                                <a data-toggle="collapse" href="#collapse1">
                                    <i class="fas fa-caret-square-down"></i> 
                                    You are currently viewing: 
                                    <strong>
                                        <span id="caseStatusSpec">unknown</span> cases in
                                        <span id="genomeBuildSpec">unknown build</span>, 
                                        <span id="maxTierSpec">unknown</span>.
                                    </strong> 
                                    Click here to change filters.</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form name="filterForm" action="{% url 'rare-disease-main' %}" method="post">
                                    {% csrf_token %}
                                 <table class="table">
                                    <tbody>

                                        <tr>
                                            <td>Case type:</td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">

                                                    <label class="btn btn-success active">
                                                        <input type="radio" name="caseType" id="casetype_all" autocomplete="off" value="" checked>
                                                        All
                                                    </label>
                                                    <label class="btn btn-success ">
                                                        <input type="radio" name="caseType" id="casetype_main" autocomplete="off" value="false" >
                                                        Main
                                                    </label>
                                                    <label class="btn btn-success">
                                                        <input type="radio" name="caseType" id="casetype_pilot" autocomplete="off" value="true">
                                                        Pilot
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Genome build:</td>
                                            <td>

                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-success active">
                                                        <input type="radio" name="genomeBuild" id="genomebuild_all" autocomplete="off" value="" checked>
                                                        All
                                                    </label>
                                                    <label class="btn btn-success">
                                                        <input type="radio" name="genomeBuild" id="genomebuild_37" autocomplete="off" value="GRCh37">
                                                        GRCh37
                                                    </label>
                                                    <label class="btn btn-success">
                                                        <input type="radio" name="genomeBuild" id="genomebuild_38" autocomplete="off" value="GRCh38">
                                                        GRCh38
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Max tier:</td>
                                            <td>
                                                <div class="btn-group" id="maxTierButtonGroup" data-toggle="buttons">

                                                    <label name="maxTierLabel" class="btn btn-success">
                                                        <input type="radio" name="maxTier" id="tier_0" autocomplete="off" value="0">
                                                        CIP Candidate
                                                    </label>

                                                    <label name="maxTierLabel" class="btn btn-success">
                                                        <input type="radio" name="maxTier" id="tier_1" autocomplete="off" value="1">
                                                        1
                                                    </label>
                                                    <label name="maxTierLabel" class="btn btn-success ">
                                                        <input type="radio" name="maxTier" id="tier_2" autocomplete="off" value="2" >
                                                        2
                                                    </label>

                                                    <label name="maxTierLabel" class="btn btn-success active">
                                                        <input type="radio" name="maxTier" id="tier_3" autocomplete="off" value="3" checked>
                                                        3
                                                    </label>
                                                </div>

                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-success">
                                                        <input type="checkbox" name="tier3Only" id="tier_3_only" autocomplete="off" value="3_only">
                                                        Tier 3 only
                                                    </label>
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Case status:</td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">

                                                <label class="btn btn-success active">
                                                    <input type="radio" name="caseStatus" id="casestatus_all" autocomplete="off" value="" checked>
                                                    All
                                                </label>
                                                <label class="btn btn-success">
                                                    <input type="radio" name="caseStatus" id="notStarted" autocomplete="off" value="Not Started">
                                                    Not Started
                                                </label>
                                                <label class="btn btn-success">
                                                    <input type="radio" name="caseStatus" id="underReview" autocomplete="off" value="Under Review">
                                                    Under Review
                                                </label>

                                                <label class="btn btn-success">
                                                    <input type="radio" name="caseStatus" id="awaitingMDT" autocomplete="off" value="Awaiting MDT">
                                                    Awaiting MDT
                                                </label>

                                                <label class="btn btn-success">
                                                    <input type="radio" name="caseStatus" id="awaitingValidation" autocomplete="off" value="Awaiting Validation">
                                                    Awaiting Validation
                                                </label>

                                                <label class="btn btn-success">
                                                    <input type="radio" name="caseStatus" id="awaitingReporting" autocomplete="off" value="Awaiting Reporting">
                                                    Awaiting Reporting
                                                </label>
                                                <label class="btn btn-success">
                                                    <input type="radio" name="caseStatus" id="reported" autocomplete="off" value="Reported">
                                                    Reported
                                                </label>

                                                <label class="btn btn-success">
                                                    <input type="radio" name="caseStatus" id="completed" autocomplete="off" value="Completed">
                                                    Completed
                                                </label>
                                                <label class="btn btn-success">
                                                    <input type="radio" name="caseStatus" id="external" autocomplete="off" value="External">
                                                    External
                                                </label>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Trio status:</td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-success active">
                                                        <input type="radio" name="trioStatus" id="triostatus_all" autocomplete="off" value="" checked>
                                                        All
                                                    </label>
                                                    <label class="btn btn-success">
                                                        <input type="radio" name="trioStatus" id="triostatus_true" autocomplete="off" value="true">
                                                        Trio Sequenced
                                                    </label>
                                                    <label class="btn btn-success">
                                                        <input type="radio" name="trioStatus" id="triostatus_false" autocomplete="off" value="false">
                                                        Incomplete Trio
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><em>De novo</em> status:</td>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-success active">
                                                        <input type="radio" name="deNovoStatus" id="denovo_all" autocomplete="off" value="" checked>
                                                        All
                                                    </label>
                                                    <label class="btn btn-success">
                                                        <input type="radio" name="deNovoStatus" id="denovo_only" autocomplete="off" value="true">
                                                        <em>De novo(s)</em> 
                                                        
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </form>
                                <form action="{% url 'gene_search' sample_type=sample_type %}" method="post">
                                    {% csrf_token %}
                                 <table class="table">
                                    <tbody>
                                        <tr>
                                            <td width="12.2%">Gene Search:</td>
                                            <td width="13%">{{ gene_search_form.gene }}</td> <td>
                                            <button type="submit" ><i class="fas fa-search " style="font-size:20px;"></i></button>
                                        </td>
                                        </tr>
                                    </tbody>
                                 </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
           <div id="pilotWarning">
           </div>

                <table width="100%" 
                       class="table table-striped table-bordered table-hover responsive" 
                       id="rare-disease-main"
                       style="border-top:14px">
                    <thead>
                        <tr>
                            <th><i class="fas fa-clipboard-list fa-1x"></i></th>
                            <th>GeL ID</th>
                            <th>Forename</th>
                            <th>Surname</th>
                            <th>NHS No.</th>
                            <th>Date of Birth</th>
                            <th>Max Tier</th>
                            <th>Assembly</th>
                            <th>Status</th>
                            <th>Pilot</th>
                            <th>Trio</th>
                            <th>De Novo</th>
                            <th>Updated <a href="#" data-toggle="tooltip" title="When the case was updated by GeL, not locally!"><i class="fas fa-info-circle"></i></a></th>
                            <th>CIP ID</th>
                            <th>GMC</th>
                            <th>Clinician</th>
                            <th>Gender</th>
                            <th>Disease Subtype</th>
                            <th>NHS number</th>
                        </tr>
                    </thead>
                    </table>
                </div>


            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
</div>

{% endblock %}
