<!--Copyright (c) 2018 Great Ormond Street Hospital for Children NHS Foundation
Trust & Birmingham Women's and Children's NHS Foundation Trust

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
{% load bootstrap3 %}
{% load gel2mdt_extras %}

{% for report in reports %}
<tr>
    <td><a href="/proband/{{report.id}}">{{report.ir_family.participant_family.proband.gel_id}}</a></td>
    <td>{{report.ir_family.ir_family_id}}</td>
    <td>{{report.ir_family.participant_family.proband.forename}}</td>
    <td>{{report.ir_family.participant_family.proband.surname}}</td>
    <td>{{report.ir_family.participant_family.proband.gmc}}</td>
    <td>{{report.ir_family.participant_family.clinician.name}}</td>
    <td style="word-wrap: break-word; min-width: 200px;max-width: 200px;">{{report.ir_family.participant_family.proband.discussion}}</td>
    <td style="word-wrap: break-word; min-width: 200px;max-width: 200px;">{{report.ir_family.participant_family.proband.action}}</td>
    <td>
        {% if mdt_form.status.value != "C" %}
        <p>
        <button type="button" class="btn btn-xs btn-info js-edit-mdt-proband "
                data-url="/edit_mdt_proband/{{report.id}}">
            Edit
        </button>


        </p>
        {% else %}
        <p></p>
        {% endif %}
    </td>
    <td>
        {% ifnotequal  proband_variant_count|get_item:report.id 0 %}

        <a href="/mdt_proband_view/{{mdt_id}}/{{report.id }}/1"><i class="fas fa-pencil-alt"></i></a> {{proband_variant_count|get_item:report.id  }}

        {% else %}
        No Variants
        {% endifnotequal %}
    </td>
    <td>
        {% ifnotequal  t3_proband_variant_count|get_item:report.id 0 %}

        <a href="/mdt_proband_view/{{mdt_id}}/{{report.id }}/0"><i class="fas fa-pencil-alt"></i></a> {{t3_proband_variant_count|get_item:report.id  }}

        {% else %}
        No Variants
        {% endifnotequal %}
    </td>
    <td><a href="/export_mdt_outcome_form/{{report.id}}"><i class="fas fa-external-link-alt"></i></a></td>
</tr>
{% endfor %}
